<html>
  <head>
    title='Wir sind im Container'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  </head>

  <body>
    div.container
      div.jumbotron
        
	<h1 style="color:blue;">Hallo TBZ-Lernende</h1>
        <p style="color:blue;">Dieser Container wurde mit dem Image <strong>ONE</strong> erzeugt</p>
        <br><br>
	<p>Letzter Update 8. Oktober 2020</p>
	<br><br>
        <p>Author: <strong>Marcello Calisto</strong></p> 
  </body>

</html>
